.create-book-section {
  padding: 15px;
  margin: 0;
  position: relative;

  .create-book-div {
    padding: 5px 0 0 0;
    margin: 0;
    position: relative;

    .create-book-header-div {
      padding: 0;
      margin: 0 0 20px 0;
      position: relative;

      .create-book-header-inner {
        h2 {
          font-weight: 600;
          font-size: 24px;
          color: #282828;
          letter-spacing: -0.2px;
          line-height: 1.4;
        }
      }
    }
  }
}

.book-details-tab-root {
  .center-div-book-root {
    padding: 0;
    margin: 0 0 30px 0;
    position: relative;

    .center-container-div {
      max-width: 850px;
      padding: 40px 20px 30px 20px;
      margin: 0 auto;
    }

    .form-root-main {
      .mb-6 {
        margin-bottom: 6px;
      }

      &.pr-24 {
        padding-right: 24px;
      }
    }

    .charater-img-div {
      .charater-thumb-div {
        .img-char-full {
          width: 100%;
          object-fit: contain;
        }
      }
    }

    &.min-height-vm-500 {
      min-height: calc(100vh - 400px);
    }
  }
}

.create-outline-tab-root {
  .add-outline-book-root {
    .add-outline-book-inner-div {
      min-height: calc(100vh - 500px);
      max-width: 1075px;
      margin: 0 auto;
    }
  }
}

.bottom-btn-tabs-div {
  padding: 20px 10px 20px 10px;
  margin: 0 0 0 0;
  position: relative;
  width: 100%;

  .bottom-btn-inner-div {
    padding: 0;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;

    .mr-10 {
      margin-right: 10px;
    }

    .min-width-180 {
      min-width: 180px;
    }
  }
}

@media (max-width: 767px) {
  .create-book-section {
    padding: 5px 0;

    .create-book-div {
      .create-book-header-div {
        .create-book-header-inner {
          h2 {
            font-size: 18px;
          }
        }
      }
    }
  }

  .book-details-tab-root {
    .center-div-book-root {
      margin: 0 0 40px 0;

      &.min-height-vm-500 {
        min-height: auto;
      }

      .center-container-div {
        max-width: 100%;
        padding: 15px 15px;
      }

      .form-root-main {
        margin: 0 0 35px 0;

        &.pr-24 {
          padding-right: 0;
        }
      }

      .charater-img-div {
        .charater-thumb-div {
          text-align: center;

          .img-char-full {
            max-width: 200px;
            margin: 0 auto;
          }
        }
      }
    }
  }

  .bottom-btn-tabs-div {
    padding: 0;

    .bottom-btn-inner-div {
      padding: 15px 15px;
      margin: 0 auto 10px auto;
      justify-content: flex-end;

      .min-width-180 {
        min-width: 120px;
        min-height: 40px;
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .create-book-section {
    padding: 5px 0;

    .create-book-div {
      .create-book-header-div {
        .create-book-header-inner {
          h2 {
            font-size: 18px;
          }
        }
      }
    }
  }

  .book-details-tab-root {
    .center-div-book-root {
      margin: 0 0 40px 0;

      &.min-height-vm-500 {
        min-height: calc(100vh - 460px);
      }

      .center-container-div {
        max-width: 100%;
        padding: 20px 25px 15px 25px;
      }

      .form-root-main {
        margin: 0 0 35px 0;

        &.pr-24 {
          padding-right: 0;
        }
      }

      .charater-img-div {
        .charater-thumb-div {
          text-align: center;

          .img-char-full {
            max-width: 200px;
            margin: 0 auto;
          }
        }
      }
    }
  }

  .create-outline-tab-root {
    .add-outline-book-root {
      .add-outline-main-div {
        padding: 25px 25px 10px 25px;
      }
    }
  }

  .bottom-btn-tabs-div {
    padding: 0;

    .bottom-btn-inner-div {
      padding: 15px 15px;
      margin: 0 auto 10px auto;
      justify-content: flex-end;

      .min-width-180 {
        min-width: 120px;
        min-height: 40px;
        font-size: 14px;
      }
    }
  }
}
