.scratch-pad-root {
  position: fixed;
  bottom: 0;
  top: 71px;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  // transform: translate3d(100%, 0, 0);
  border-radius: 0;
  z-index: 9999;
  height: calc(100vh - 71px);

  &.d-none {
    transition: all 0.8s;
    animation: animation-key01 0.8s;

    @keyframes animation-key01 {
      0% {
        display: none;
        opacity: 0;
      }

      100% {
        display: flex;
        opacity: 1;
      }
    }
  }

  .scratch-pad-inner {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .scratch-pad-left {
      background: #fff;
      box-shadow: -1px 2px 14px 0 rgba(0, 0, 0, 0.06);
      border-radius: 10px 0 0 0;
      width: 245px;
      right: -460px;
      height: 100%;
      position: absolute;
      top: 0;
      transition: right 0.8s;

      .scratch-pad-content-root {
        width: 100%;
        height: 100%;
        position: relative;
        padding: 30px 20px 0 30px;

        .heading-txt-div {
          padding: 0;
          margin: 0 0 20px 0;
          position: relative;
          width: 100%;

          h2 {
            font-weight: 700;
            font-size: 18px;
            line-height: 1.4;
            color: #001436;
            letter-spacing: 0;
            margin: 0;
            display: block;
          }
        }

        .scratch-pad-content-body {
          textarea.form-control {
            opacity: 0.8;
            font-weight: 500;
            font-size: 14px;
            color: #001436;
            letter-spacing: 0;
            line-height: 1.4;
            min-height: calc(100vh - 200px);
            border: none;
            resize: none;
            outline: none;
            box-shadow: initial;
            padding: 0;
          }
        }
      }
    }

    .scratch-pad-right {
      padding: 20px 0;
      margin: 0;
      position: relative;
      width: 60px;
      height: 100%;
      background: #fff;
      box-shadow: 1px 2px 14px 0 rgba(0, 0, 0, 0.06);

      .scratch-box-list-div {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        width: 100%;

        .scratch-box-item {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          padding: 0;
          margin: 0 0 10px 0;
          position: relative;

          .scratch-box-item-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding: 5px;
            margin: 0 0 0 0;
            position: relative;
            border: none;
            background-color: transparent;
            outline: none;
            box-shadow: none;
            cursor: pointer;
          }

          .scratch-box-iteam-top {
            width: 100%;
            text-align: center;
            margin: 0 0 5px 0;

            .icon-span-round {
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid #d0d4da;
              background-color: transparent;
              width: 34px;
              height: 34px;
              margin: 0 auto;
              border-radius: 40px;
            }
          }

          .scratch-box-iteam-bottom {
            p {
              font-weight: 500;
              font-size: 12px;
              color: rgba(1, 40, 106, 0.5);
              letter-spacing: 0;
              text-align: center;
            }
          }

          &.active {
            .scratch-box-iteam-top {
              .icon-span-round {
                border: 1px solid rgba(36, 106, 224, 0.84);
                background-color: #cbdbf7;
              }
            }
          }
        }
      }
    }
  }

  &.active {
    .scratch-pad-inner {
      .scratch-pad-left {
        right: 60px;
      }

      .scratch-pad-right {
        .scratch-box-list-div {
          .scratch-box-item {
            &.active {
              .scratch-box-iteam-top {
                .icon-span-round {
                  border: 1px solid rgba(36, 106, 224, 0.84);
                  background-color: #cbdbf7;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .scratch-pad-root {
    .scratch-pad-inner {
      .scratch-pad-left {
        .scratch-pad-content-root {
          padding: 20px 15px 0 20px;

          .heading-txt-div {
            margin: 0 0 15px 0;

            h2 {
              font-size: 16px;
            }
          }

          .scratch-pad-content-body {
            textarea.form-control {
              font-size: 12px;
            }
          }
        }
      }

      .scratch-pad-right {
        width: 50px;

        .scratch-box-list-div {
          .scratch-box-item {
            .scratch-box-item-btn {
              padding: 0 3px;
            }

            .scratch-box-iteam-top {
              .icon-span-round {
                width: 28px;
                height: 28px;

                .scratch-notes-icon {
                  width: 14px;
                  height: 14px;
                }
              }
            }

            .scratch-box-iteam-bottom {
              p {
                font-size: 9px;
              }
            }
          }
        }
      }
    }

    &.active {
      .scratch-pad-inner {
        .scratch-pad-left {
          right: 50px;
        }
      }
    }
  }
}
